<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MiniDocFlow</title>
</head>
<body>
<!--<p th:if="${registerError}" class="error">Wrong user or password</p> -->
<table>
  <thead>
  <tr>
    <th>DocId</th>
    <th>DocName</th>
    <th>Version</th>
    <th>Author</th>
    <th>Size</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text="${doc.documentId}"></td>
    <td th:text="${doc.documentName}"></td>
    <td>
      <a th:text="${doc.version}" th:href="@{/doc/{id}(id=${doc.documentId},ver=${doc.version})}"></a>
    </td>
    <td>
      <a th:text="${doc.author}" th:href="@{/author/{id}(id=${doc.author})}"></a>
    </td>
    <td th:with="len=${#numbers.formatDecimal((doc.lengthOfFile*1.0) /(1024*1024),1,3)}" th:text="${len} + ' MB'"></td>
    <td>
      <form th:action="@{/doc/{id}(id=${doc.documentId},ver=${doc.version})}" method="POST">
        <button type="submit">download</button>
      </form>
    </td>
    <td>
      <form th:action="@{/doc/{id}/delete(id=${doc.documentId})}">
        <button type="submit">delete</button>
      </form>
    </td>
    <td>
      <form th:action="@{/doc/{id}/update(id=${doc.documentId})}">
        <button type="submit" >load new version</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>