<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MiniDocFlow</title>
</head>
<body>


    <table>
        <thead>
        <tr>
            <th>DocId</th>
            <th>DocName</th>
            <th>Version</th>
            <th>Author</th>
            <th>Date Intro</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doc: ${documentViewList}" th:bgcolor="${doc.exist}?green:red">
            <td th:text="${doc.documentId}"></td>
            <td>
                <a th:text="${doc.documentName}" th:href="@{/doc/{id}(id = ${doc.documentId})}"></a>
            </td>
            <td>
                <a th:text="${doc.version}" th:href="@{/doc/{id}(id=${doc.documentId},ver=${doc.version})}"></a>
            </td>
            <td>
                <a th:text="${doc.author}" th:href="@{/author/{id}(id=${doc.author})}"></a>
            </td>
            <td th:text="${#temporals.formatISO(doc.dateIntro)}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>