<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MiniDocFlow - Update</title>
</head>
<body>
<form th:method="POST" th:action="@{/doc/{id}/update(id=${documentPOJO.documentId})}" enctype="multipart/form-data" th:object="${documentPOJO}">
    <table>
        <tr>
            <td>documentName</td>
            <td th:text="${docName}"></td>
        </tr>
        <tr>
            <td><label path="file">Select a file to upload</label></td>
            <td><input type="file" name="file" th:field="*{file}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>